{{template "public/header" .}}
<ul class="table-view">
    {{with .Hooks}}
    {{range .}}
    <li class="table-view-cell">
        <a href="#" onclick="register('{{.Method}}', '{{.Url}}', '{{.Title}}')" class="navigate-right">
            <span class="badge">{{.Method}}</span>
            {{.Title}}
        </a>
    </li>
    {{end}}
    {{end}}
</ul>
<script>
    function register(method, url, title) {
        $.get('./setHook', {
            Method: method,
            Url: url
        }, function (response) {
            alert(title + "开启成功");
        }, "json")
    }
</script>
{{template "public/footer" .}}