{{template "base" .}}
{{define "body"}}
{{template "main" .}}
<nav class="bar bar-tab">
    <a class="tab-item" href="/{{.sessionId}}/qrcode">
        <span class="icon icon-home"></span>
        <span class="tab-label">登陆</span>
    </a>
    <a class="tab-item" href="/{{.sessionId}}/log">
        <span class="icon icon-bars"></span>
        <span class="tab-label">日志</span>
    </a>
    <a class="tab-item" href="/{{.sessionId}}/hook">
        <span class="icon icon-plus"></span>
        <span class="tab-label">Hook</span>
    </a>
</nav>
{{end}}