<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>{{if .Title}}{{.Title}}-{{end}}Bot</title>
    <link rel="stylesheet" href="//o2030m4h2.qnssl.com/ratchet/css/ratchet.min.css"/>
    <link rel="stylesheet" href="//o2030m4h2.qnssl.com/ratchet/css/ratchet-theme-ios.min.css"/>

    <script src="//o2030m4h2.qnssl.com/jquery/jquery-1.12.0.min.js"></script>

</head>

<body>

{{template "body" .}}


</body>

</html>